#create-event-page {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .create-event-title {
        margin: 30px 0;
    }

    .create-event-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    
        .container-form-input {
            font-family: var(--default-font);
            font-size: var(--default-font-size);

            input, textarea {
                display: inline-block;
                margin-top: 0.25rem;
                outline: none;
                border-radius: var(--default-border-radius);
                border: 0.125rem solid var(--third-color);
                padding: 0.25rem;
            }
        }

        
        .container-code{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: start;
            justify-content: space-between;

                    #event-code {
                    width: 100%;
                    min-height: 1.5rem;
                    background-color: var(--snd-color);
                }

                    #event-qr-code{
                        width: 100%;
                        min-height: 3rem;
                    }
        } 
        
        .container-toggle-permissions{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            width: 100%;
            padding-top: 1rem;
            padding-bottom: 1rem;

        }

        .container-action-button-create-event-form{
            display: flex;

            .submit-btn{
                    display: block;
                    width: 12rem;
                    border: none;
                    padding: 0.9375rem 1.875rem;
                    font-size: 1em;
                    border-radius: var(--default-border-radius);
                    cursor: pointer;
                    text-decoration: none;
                
            }

        }
       
    }
}