
/************************* WELCOME PAGE ************************/
#welcome-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    
    .container-img {
        width: 50%;
        display: flex;
        justify-content: center;
    
        .bg-welcome-page {
            width: 15.625rem;
            height: auto;
        }
    }

    .container-main-title {
        width: 50%;
        text-align: center;
    
        .title {
            font-size: 2rem;
            margin: 1.25rem 0;
            color: #000000;
        }
        .button {
            background-color: #007bff;
            color: #ffffff;
            border: none;
            padding: 0.9375rem 1.875rem;
            font-size: 1em;
            border-radius: 0.3125;
            cursor: pointer;
            text-decoration: none;
        }
        .button:hover {
            background-color: #0056b3;
        }
    }
}


/********************* STANDARD FORM COMPONENTS *************************/

.container-form-input {
    width: 18.75rem;
    height: auto;
    padding: 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}